.projectsTitle, .projectsTitle>i{
    padding-top: 1.5rem;
    padding-bottom: 0.2rem;
    font-weight: 100;
    font-size: 1.4rem;
    color: var(--color-dark-gray);
}

#filter{
    font-size: 0.8rem;
    transition: 0.2s allow-discrete;
    padding-bottom: 0.2rem;
}

#filter.active, #filter.active>i{
    color: var(--color-black);
    text-decoration: underline;
    font-weight: 600;
    font-size: 1rem;
}

#filter:hover, #filter:hover>i{
    color: var(--color-black);
    font-size: 1rem;
    cursor: pointer;
}

.projectCard:hover > .projectText > .projectTitle{
    font-size: 1rem !important;
}


.projectCard{
    display: grid;
    grid-template-columns: 1fr 20px;
    grid-template-rows: 1fr;
    cursor: pointer;
}

.projectText{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: nowrap;
    grid-column: 1 / 2;
}

.projectButtons{
    grid-column: 2 / 3;
    display: flex;
    justify-content: end;
    align-items: start;
    padding: 0;
    flex: 1;    
}

.projectTitle{
    font-size: inherit;
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: nowrap;
    width: 10ch;
}

.projectDesc{
    color: var(--color-dark-gray);
    font-size: 0.8rem;
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: nowrap;
}





/* .projectDesc{
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: nowrap;
    font-size: 0.8rem;
    transition: 0.5s;
    color: var(--color-dark-gray);
}

.projectCard:hover{
    .taskDesc{
        font-size: 1.2rem;
        padding-bottom: 10px;
    };
}

.projectCard:hover{
    grid-template-rows: 40px 1fr 30px;
} */