@import url(/node_modules/modern-normalize/modern-normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Playwrite+IN:wght@100..400&family=Roboto:ital,wght@0,100..900;1,100..900&family=Smooch+Sans:wght@100..900&display=swap');
@import url(dialog.css);
@import url(tasklist.css);
@import url(sidemenu.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Smooch sans", system-ui, sans-serif;
    font-size: 1.2rem;
}

:root{
    --color-red: rgb(223, 79, 79);
    --color-green: rgb(116, 204, 75);
    --color-orange: rgb(238, 186, 45);
    --color-black: rgb(70, 70, 70);
    --color-white: white;
    --color-gray: rgb(238, 238, 238);
    --color-dark-gray: rgb(146, 146, 146);
    --color-bg: rgba(221, 221, 221, 0.973);
    --color-accent:rgb(19, 185, 226);
    --color-accent-light:rgb(192, 227, 236);
    --color-icon:rgb(209, 209, 209);
    --color-icon-hover:gray;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-color: var(--color-bg);
    gap: 20px;
}

.hidden{
    display: none;
}

content{
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 2rem 1rem 1rem 1fr;
    background-color: var(--color-white);
    width: min(1000px, 95vw);
    /* width: 95vw; */
    max-height: min(600px, 100vh);
    border-radius: 20px;
    flex: 1;
    gap:0.5rem;
    border-radius: 1rem;
}

.sideMenu{
    grid-column: 1 / 2;
    grid-row: 1 / 5;
    display: flex;
    flex-direction: column;
    background-color: var(--color-gray);
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    padding: 1rem;
}

.taskList{
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: auto;
    gap: 0.5rem;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    padding: 1rem;
}

.sortNav{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 10px;
}

.activeProject{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    text-transform: capitalize;
    font-weight: 500;
}

.activeDesc{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    font-size: 1rem;
    font-weight: 300;
}

#sort{
    background-color: transparent;
}

.sortActive, .sortActive > *{
    color:var(--color-black) !important;
    font-weight: 600;
}

button#sort, button#sort > i{
    color: var(--color-icon);
    font-size: 0.8rem;
}

button{
    background-color: var(--color-accent);
    border-radius: 4px;
    padding: 2px;
    border-style: none;
    cursor: pointer;
}

button.openDialogBtn{
    display: flex;
    gap: 0.2rem;
    align-items: center;
    padding: 0.2rem;
    margin-bottom: 20px;
    transition: 0.2s allow-discrete;
}

button.openDialogBtn, button.openDialogBtn > *{
    color: var(--color-accent);
    font-size: 1.6rem;
    font-weight: 600;
    background-color: transparent;
}

button.openDialogBtn:hover{
    background-color: var(--color-accent-light);
}

button.openDialogBtn:active{
    transform: scale(0.95);
}

button.openDialogBtn > i:hover{
    color: var(--color-accent);
}

.editTaskBtn, .removeTaskBtn, .editProjBtn, .removeProjBtn{
    background-color: transparent;
    color:var(--color-gray);
}

i {
    background-color: transparent;
    color: var(--color-icon);
    font-size: 1rem;
    cursor: pointer;
}

i:hover, button#sort:hover, button#sort:hover > *{
    color: var(--color-icon-hover);
}



